@import "./reset";
@import "font-awesome";

//color
$light_blue:#38AEF0;
$strong_navy:#253141;
$light_navy: #2f3e51;
$border:#eeeeee;

.header {
  font-size: 10px;
  background-color: $light_blue;
  text-align: center;
  color: white;
}

.wrapper{
  height:100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  
}
.chat-side {
  color: white;
  font-weight: bold;
  bottom: 0;
  margin: 0;
  padding: 0 ;
  width: 300px;
}

  .side-header{
    background-color: $strong_navy;
    font-size: 16px;
    box-sizing: border-box;
    align-items: center;
    height: 100px;
    width: 300px;
    padding: 20px;
    display:flex;
  }

  .side-header__user_name{
    font-weight: 700px;
  }
  .user-menu{
    margin:200px;
    display: flex;
    flex-direction: row-reverse;
    
  }
  // .user-menu__edit-user{
  //   display: list-item;
  // }
  // .user-menu__new-group{
  //   display: list-item;
  // }


  .groups{
  background-color: $light_navy;
  bottom: 0;
  box-sizing: border-box;
  font-size: 15px;
  align-items: center;
  justify-content: space-between;
  overflow-x:scroll;
  overflow-y:scroll;
  widows: 300px;
  height: 600px;
  padding: 20px 20px 0 20px;
  }

  .chat-main{
    height: 92px;
    width: 900px;
    background-color:#fafafa;
 
  }
  .main-header{
    float: right;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    box-sizing: border-box;
    display:flex;
    padding: 0 ;
    border:$border;
  }
.current-group{
  display: box;
  margin:35px;

}
.current-group__name{
  color: #33333;
  font-size: 20px;
  font-weight: 400;
}
.member-list{
  font-size:12px;
  color:#999999;
  display: flex;
  margin:15px 0;
}
.main-header__edit-btn{
  float: right;
  line-height: 40px;
  padding: 0 20px;
  margin-top: 30px;
  border: solid 1px $light_blue;
  color: $light_blue;
}



  .messages{
    box-sizing:border-box;
    display:block;
    height:calc(100vh - 190px);
    overflow-x: scroll;
    overflow-y: scroll;
    padding:46px 40px 40px 46px;
    background-color: #fafafa;
    width:300px;

  }
  .form{
    box-sizing: content-box;
    position:absolute;
    bottom: 0;
    margin:0;
    width: 100%;
    height: 90px;
    background-color: #ddd;    
  }
  .new-massage{
      float: right;
      height: 50px;
      line-height: 50px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px $light_blue;
      color: $light_blue;

  }
.input-box{
  box-sizing: content-box;
  right:0;

}

